<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.Light"
        tools:targetApi="24">
        <meta-data
            android:name="org.fcitx.fcitx5.android.plugin"
            android:resource="@xml/plugin" />

        <activity
            android:name=".PluginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="org.fcitx.fcitx5.android.plugin.MANIFEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".MainService"
            android:exported="true"
            android:permission="org.fcitx.fcitx5.android.permission.PLUGIN">
            <intent-filter>
                <action android:name="org.fcitx.fcitx5.android.plugin.SERVICE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".SMSReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".OtpNotificationListener"
            android:enabled="${enableNotificationListener}"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>
